services:
  frontend:
    build:
      context: ./ploshtadka-frontend
      target: deps
    command: sh -c "bun install && bun run dev -- --host 0.0.0.0 --port 3000"
    environment:
      VITE_TURNSTILE_SITE_KEY: ${VITE_TURNSTILE_SITE_KEY}
    volumes:
      - ./ploshtadka-frontend:/app
      - bun-cache:/root/.bun/install/cache
    networks:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.routers.frontend.priority=1"
      - "traefik.http.services.frontend-svc.loadbalancer.server.port=3000"

  admin-panel:
    build:
      context: ./ploshtadka-admin-panel
      target: deps
    command: sh -c "bun install && bun run dev -- --host 0.0.0.0 --port 5173"
    volumes:
      - ./ploshtadka-admin-panel:/app
      - bun-cache:/root/.bun/install/cache
    environment:
      VITE_BASENAME: "/admin"
    networks:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.admin.rule=PathPrefix(`/admin`)"
      - "traefik.http.routers.admin.entrypoints=web"
      - "traefik.http.middlewares.admin-strip.stripprefix.prefixes=/admin"
      - "traefik.http.routers.admin.middlewares=admin-strip"
      - "traefik.http.services.admin-svc.loadbalancer.server.port=5173"

volumes:
  bun-cache:
